---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';

const CODE = `# Lab AImage 
3 sesiones de 2 horas
# No se rquiere ningun conocimiento previos
Enfoque opensource
# StableDiffusion
Deforum
`
---

<Layout title="Lab AImage">
	<main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">Lab AImage</h1>
        <p class="text-2xl my-8">
         Taller de <b class="text-green-400 dark:text-green-400">Inteligencia artificial </b> <b class="text-green-500 dark:text-green-300"></b> orientada a imagen
        </p>
        <a href="/docs/get-started/introduction" class="inline-block bg-green-500 hover:bg-green-300 text-white text-lg font-bold py-2 px-4 rounded">
          Ver más
        </a>
      </div>
      <div class="w-full p-8 md:w-1/2 [&_pre]:p-4 [&_pre]:rounded-2xl [&_pre]:shadow-xl [&_pre]:border-2 [&_pre]:border-green-500">
        
        <img src="https://github.com/Noisk8/Noisk8_perfil/blob/main/public/assets/4.gif?raw=true" alt="perooooo">
      </div>


    </div>
    <div class="bg-green-500 dark:bg-zinc-800">
      <div class="max-w-6xl mx-auto md:py-16 p-8 text-center">
        <h1 class="text-white text-6xl font-bold mb-16">Sesiones</h1>
        <div class="md:flex md:justify-center space-y-8 md:space-y-0 md:gap-x-8 dark:text-white">
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Sesión 1</h2>
              <p class="text-gray-500 dark:text-gray-400 my-4">
                Introducción a las redes neuronales, breves repaso por los antecedentes historicos de la inteligencia artificial, repaso teorico de las redes neuronales y machine learnig              </p>
              <a href="/docs/get-started/introduction" class="inline-block bg-green-300 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
                Ver Más
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Sesion 2</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                tincidunt, nisl eget aliquam tincidunt, nisl elit aliquam
                tortor, eget aliquam nisl elit non nisl.
              </p>
              <a href="/docs/guides/migrate-from-z" class="inline-block bg-green-400 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
            Ver Más
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Sesion 3</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                tincidunt, nisl eget aliquam tincidunt, nisl elit aliquam
                tortor, eget aliquam nisl elit non nisl.
              </p>
              <a href="/docs/get-started/installation" class="inline-block bg-green-400 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
                Ver Más
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex md:flex-wrap">
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4"></h2>
        <img src="https://github.com/Noisk8/Noisk8_perfil/blob/main/public/assets/2.gif?raw=true" alt="noisk8">
        
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4"></h2>
        <img src="https://github.com/Noisk8/Noisk8_perfil/blob/main/public/assets/3.gif?raw=true" alt="noisk8">
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4"></h2>
        <img src="https://github.com/Noisk8/Noisk8_perfil/blob/main/public/assets/4.gif?raw=true" alt="noisk8">
        
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4"></h2>
        <img src="https://github.com/Noisk8/Noisk8_perfil/blob/main/public/assets/1.gif?raw=true" alt="noisk8">
        
      
	</main>
</Layout>
